*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    position: fixed;
    min-width: 100%;
}
nav{
    background-color: #1f1f1f;
    padding: 32px;
    min-height: 80px;
}
nav img{
    max-height: 48px;
    background-color: white;
}
.spacer{
    /* border: 1px solid yellow; */
    display: inline-block;
    /* Paren widdth - Logo width - Menu <ul> width */
    width: calc(100% - 40px - 280px);
}
nav ul{
    list-style: none;
    display: inline-block;
    margin-bottom: 20px;
    vertical-align: bottom;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav ul li:last-child{
    margin-right: 0px;
}
nav ul li a{
    text-decoration: none;
}

nav ul li a:link,
nav ul li a:visited{
    color: white;
}
nav ul li a.current{
    color: green;
    font-weight: bold;
}

nav ul li a:hover {
    color: rgb(229, 145, 000);
}
nav ul li a:active {
    color: green;
}

/* Services dropdown menu */
#services-li{
    position: relative;

}
#services-li:hover #services-menu{
    opacity: 1;
    visibility: visible;
    transform: translateY(0vh);
}

#services-menu{
    position: absolute;
    top: 110%;
    left: 0px;
    z-index: 1;
    padding: 4px 16px;
    margin-bottom: 0px;
    background-color: #323f42;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-2vh);
    transition: opacity 0.4s, transform 0.4s;
}
#services-menu li{
    padding: 4px 0px;
    margin-right: 0px;
}

#services-menu a{
    white-space: nowrap;
    display: block;
}

main{
    width: 100%;
    min-height: 615px;
    display: inline-block;
}
section{
    width: calc(100% - 204px);
    height: 615px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}


.nintendo{
    width: 150px;
}
.show div{
    display: none;
}

.show div:target{

    margin: 40px;
    display: block;
    border: 2px solid darkorange;
    background-color: beige;
}
#top{
    position: absolute;
    vertical-align: top;
}

main nav{
    width: 200px;
    height: 615px;
    display: inline-block;
    background-color: gray;
    vertical-align: top;
    padding: 20px;
    border: 3px solid black;
}
main nav h2{
    padding: 10px 10px 40px 10px;
    font-size: 30px;
}

main nav ul{
    text-align: left;
    padding: 0px 30px 0px 30px;
}

main nav ul li{
    display: block;
}
main nav ul li a{
    font-size: 18px;
}

main nav ul li a:link,
main nav ul li a:visited{
    color: skyblue;;

}

main nav ul li a:hover {
    color: rgb(229, 145, 000);
}

main nav ul li a:active {
    color: green;
}
/* Page sections and content */
main{
    margin-top: 115.6px;
    position: relative;
}
.section-a{
    width: 100%;
    height: 1000px;
    background-color: lightblue;
}
.sticky-container{
    position: sticky;
    border: 1px solid black;
    top: 20px;
    left: 10px;
    width: 200px;
    height: 300px;
    background-color: orange;
    padding-top: 10px;
}
.section-b{
    width: 100%;
    height: 1000px;
    background-color: lightgreen;
}
.buttom{
    position: fixed;
    bottom: 20px;
    right: 20px;    
}
main .buttom img{
    max-height: 40px;
}
footer{
    background-color: #1f1f1f;
    text-align: center;
    padding: 20px;
}
footer nav{
    padding-top: 0px;
    padding-bottom: 10px;
    min-height: 40px;
}
footer nav ul{
    margin-bottom: 0px;
}
.spacer_two{
    display: inline-block;
    border: 1px solid white;
    width: calc(100% - 100px);
    margin-bottom: 10px;
}